---
layout: report
tags: reports
title: Clínica Alemana de Santiago
language: es
evaluation:
  evaluator: Daniela Vidal
  commissioner: Continuum SpA.
  target: WCAG 2.1, Level AA
  targetLevel: AA
  targetWcagVersion: 2.1
  date: 14 de Junio 2021
  special requirements: Please also list accessibility problems that are not conformance failures
scope:
  - https://www.clinicaalemana.cl/
out_of_scope:
  - Cualquier otra web no señalada dentro del alcance
baseline: 
  - Mozilla Firefox (last 3 versions) 
  - Google Chrome (last 3 versions) 
  - Apple Safari (last 3 versions)
  - Tecnología de asistencia comunes (NVDA, VoiceOver)
technologies: 
  - HTML
  - CSS
  - JavaScript
sample:
  - title: Homepage
    id: homepage
    url: https://www.clinicaalemana.cl/
    description: Homepage Clinica Alemana.
---

